<h1>Top Page</h1>


<table>
  <thead>
    <tr>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
  	<tr>
  	  <td><%= link_to 'Users', '/users' %></td>
  	</tr>
  	<tr>
  	  <td><%= link_to 'Microposts', '/microposts' %></td>
  	</tr>
  </tbody>
</table>
